
.hero {
    position: relative; 
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: white;
    text-align: center;
    padding: 2rem;
  }
  
  .hero::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/hero.jpg'); 
    background-size: cover;
    background-position: center;
    z-index: -1; 
  }

  .hero::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.259); 
    z-index: -1; 
  }
  /* Main title */
  .hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #0E82F6;
    
  }
  
  /* Card container */
  .cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  /* Card styling */
  .card-hero1 {
    /* background-color: rgba(14, 130, 246, 0.7); */
    /* background: linear-gradient(180deg, #f43741 2.15%,rgba(95, 174, 253, 0.908) 95.89%); */
    background-color: rgba(14, 130, 246, 0.647);
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
    color: white;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
  }
  .card1 {
    background: linear-gradient(180deg, rgb(79, 167, 255) 2.15%,rgba(79, 167, 255, 0.182) 95.89%);
    /* padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    max-width: 250px;
    color: white; */
  }
  
  .card-hero1 h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
    
  }
  
  .card-hero1 p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .card-hero1 button {
    display: flex;
    align-items: center; 
    gap: 8px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(79, 167, 255, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: auto; 
  }
  
  .card-hero1 button:hover {
    /* background: linear-gradient(91.32deg, #fc03c6 2.15%, #ffdcdc 95.89%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text; 
    transition: background 0.3s ease;  */
    color:rgb(25, 35, 40);
}

  